<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <nav>
        <a href="#">About</a>
        <a href="#">News</a>
        <a href="#">Products</a>
    </nav>
    <header>
        <div class="container row">
            <div class="content">
                <h1>QWERTY SHOP</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis commodi, natus et vel blanditiis magni
                    libero quasi ut molestias repudiandae doloremque architecto quod voluptatibus quas rerum deserunt!
                    Cupiditate, obcaecati deserunt!</p>
                <a href="#" class="btn">SHOPPING</a>
                <a href="#" class="btn">MORE</a>
            </div>
        </div>
    </header>
    <div id="about">
        <div class="container row">
            <div class="col-12 section-title">
                <h2>ABOUT</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis, provident.</p>
            </div>
            <div class="col-3">
                <h3>title</h3>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam neque nesciunt illum sint
                    perferendis quae labore odit, esse fuga voluptates!
                </p>
                <a href="#" class="btn">MORE</a>
            </div>
            <div class="col-3">
                <h3>title</h3>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam neque nesciunt illum sint
                    perferendis quae labore odit, esse fuga voluptates!
                </p>
                <a href="#" class="btn">MORE</a>
            </div>
            <div class="col-3">
                <h3>title</h3>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam neque nesciunt illum sint
                    perferendis quae labore odit, esse fuga voluptates!
                </p>
                <a href="#" class="btn">MORE</a>
            </div>
            <div class="col-3">
                <h3>title</h3>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam neque nesciunt illum sint
                    perferendis quae labore odit, esse fuga voluptates!
                </p>
                <a href="#" class="btn">MORE</a>
            </div>
        </div>
    </div>
    <div id="news">
        <div class="container row">
            <div class="col-12 section-title">
                <h2>News</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur rerum nihil porro!</p>
            </div>
            <div class="col-6 effect">
                <img src="https://picsum.photos/id/45/800/800" class="w-100 rounded">
                <div class="content rounded">
                    <h3>title</h3>
                    <a href="#" class="btn">More</a>
                </div>
            </div>
            <div class="col-6 no-padding">
                <div class="row">
                    <div class="col-6 top effect">
                        <img src="https://picsum.photos/id/46/800/800" class="w-100 rounded">
                        <div class="content rounded">
                            <h3>title</h3>
                            <a href="#" class="btn">More</a>
                        </div>
                    </div>
                    <div class="col-6 top effect">
                        <img src="https://picsum.photos/id/47/800/800" class="w-100 rounded">
                        <div class="content rounded">
                            <h3>title</h3>
                            <a href="#" class="btn">More</a>
                        </div>
                    </div>
                    <div class="col-6 effect">
                        <img src="https://picsum.photos/id/48/800/800" class="w-100 rounded">
                        <div class="content rounded">
                            <h3>title</h3>
                            <a href="#" class="btn">More</a>
                        </div>
                    </div>
                    <div class="col-6 effect">
                        <img src="https://picsum.photos/id/49/800/800" class="w-100 rounded">
                        <div class="content rounded">
                            <h3>title</h3>
                            <a href="#" class="btn">More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="products">
        <div class="container row">
            <div class="col-12 section-title">
                <h2>Products</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur rerum nihil porro!</p>
            </div>
            <div class="col-3">
                <img src="https://picsum.photos/id/12/400" class="w-100">
                <h3>prodcts</h3>
                <div>
                    $199
                </div>
                <a href="#" class="btn">Buy</a>
            </div>
            <div class="col-3">
                <img src="https://picsum.photos/id/13/400" class="w-100">
                <h3>prodcts</h3>
                <div>
                    $199
                </div>
                <a href="#" class="btn">Buy</a>
            </div>
            <div class="col-3">
                <img src="https://picsum.photos/id/14/400" class="w-100">
                <h3>prodcts</h3>
                <div>
                    $199
                </div>
                <a href="#" class="btn">Buy</a>
            </div>
            <div class="col-3">
                <img src="https://picsum.photos/id/15/400" class="w-100">
                <h3>prodcts</h3>
                <div>
                    $199
                </div>
                <a href="#" class="btn">Buy</a>
            </div>
        </div>
    </div>
    <footer>
        <div class="container row">
            <div class="col-3">
                <h2>LOGO</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, velit!</p>
            </div>
            <div class="col-3">
                <ul>
                    <li><a href="#">LINK</a></li>
                    <li><a href="#">LINK</a></li>
                    <li><a href="#">LINK</a></li>
                    <li><a href="#">LINK</a></li>
                    <li><a href="#">LINK</a></li>
                </ul>
            </div>
            <div class="col-3">
                <ul>
                    <li><a href="#">LINK</a></li>
                    <li><a href="#">LINK</a></li>
                    <li><a href="#">LINK</a></li>
                    <li><a href="#">LINK</a></li>
                    <li><a href="#">LINK</a></li>
                </ul>
            </div>
            <div class="col-3">
                <ul>
                    <li><a href="#">LINK</a></li>
                    <li><a href="#">LINK</a></li>
                    <li><a href="#">LINK</a></li>
                    <li><a href="#">LINK</a></li>
                    <li><a href="#">LINK</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>