/* * RESET / GLOBAL */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.container {
    width: 1200px;
    margin: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.w-100 {
    width: 100%;
}
.no-padding {
    padding-left: 0!important;
    padding-right: 0!important;
}
img {
    /* display: block; */
    vertical-align: top;
    /* 
        * vertical-align只對table, inline, inline-block有效
    */
}
/* *grid */
.col-1 {
    flex: 0 0 calc(100% / 12 * 1);
}
.col-2 {
    flex: 0 0 calc(100% / 12 * 2);
}
.col-3 {
    flex: 0 0 calc(100% / 12 * 3);
}
.col-4 {
    flex: 0 0 calc(100% / 12 * 4);
}
.col-5 {
    flex: 0 0 calc(100% / 12 * 5);
}
.col-6 {
    flex: 0 0 calc(100% / 12 * 6);
}
.col-7 {
    flex: 0 0 calc(100% / 12 * 7);
}
.col-8 {
    flex: 0 0 calc(100% / 12 * 8);
}
.col-9 {
    flex: 0 0 calc(100% / 12 * 9);
}
.col-10 {
    flex: 0 0 calc(100% / 12 * 10);
}
.col-11 {
    flex: 0 0 calc(100% / 12 * 11);
}
.col-12 {
    flex: 0 0 calc(100% / 12 * 12);
}
[class^="col"]{
    padding-left: 15px;
    padding-right: 15px;
}
/* ? [class^="col"] 開頭是col */
/* ? [class*="col"] 包含col*/
/* ? [class$="col"] 結尾是col*/
/* *BUTTON */
.btn {
    display: inline-block;
    text-decoration: none;
    background-color: #ffe139;
    color: #222;
    padding: 10px 20px;
    border-radius: 5px;
    transition: .3s;
}
/* ? 虛擬類別 */
.btn:hover {
    background-color: #ff4665;
    color: #fff;
}
/* *SECTION-TITLE */
.section-title {
    text-align: center;
    margin-bottom: 50px;
}
.section-title h2 {
    font-size: 32px;
}
/* * NAV */
nav {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;

    /* height: 60px; */
    background-color: #222;
    text-align: center;

    position: fixed;
    z-index: 9999;
}
/* !後代選取器 */
nav a {
    color: #eee;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 5px;
    transition: .3s;
}
nav a:hover {
    background-color: #fff16f;
    color: #222;
}
/* *HEADER */
header {
    background: url('https://picsum.photos/id/26/1920/1080')no-repeat fixed center / cover;
    /* padding-top: 300px; */
    /* padding-bottom: 300px; */
    /* height: 100%; */
}
/* html,body {
    height: 100%;
} */
header .row {
    /* height: 800px; */
    height: 100vh;
    /* height: 100%; */
    align-items: center;
}
header .content {
    text-align: center;
    color: #fff;
}
header h1 {
    font-size: 100px;
    font-weight: 900;
}
header p {
    padding: 0 100px;
    margin-bottom: 30px;
}
/* * ABOUT */
#about {
    padding-top: 150px;
    padding-bottom: 150px;

    background-color: #fcfa95;
}
#about h3 {
    font-size: 24px;
}
#about p {
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 1.5;
}
/* * NEWS */
#news {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #d6efc7;

    clip-path: polygon(0 0,50% 8vw,100% 0,100% calc(100% - 8vw),50% 100%, 0 calc(100% - 8vw));
    /* clip-path: polygon(0 10vw,100% 0,100% calc(100% - 10vw), 0 100%); */
    /* 
        * vw --> view width
    */

    margin-bottom: -8vw;
    margin-top: -8vw;
}
#news .top {
    margin-bottom: 30px;
}
/* * PRODUCTS */
#products {
    /* padding-top: calc(150px + 8vw); */
    padding-top: 200px;
    padding-bottom: 150px;
    background-color: #fcfa95;
}
/* * FOOTER */
footer {
    background-color: #222;
    color: #fff;
    padding-top: 150px;
    padding-bottom: 150px;
}
footer a {
    color: #c0c0c0;
    text-decoration: none;
    transition: .3s;
}
footer a:hover {
    color: #fff;
    text-decoration: underline;
}
footer li {
    list-style: none;
}