/* * RESET / GLOBAL */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.container {
    width: 1200px;
    margin: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.w-100 {
    width: 100%;
}
.rounded {
    border-radius: 10px;
}
.no-padding {
    padding-left: 0!important;
    padding-right: 0!important;
}
img {
    /* display: block; */
    vertical-align: top;
    /* 
        * vertical-align只對table, inline, inline-block有效
    */
}
/* 
    * grid
    * 1200          -> col-xl-*
    * 1024-1200px   -> col-lg-* 
    * 760-1024px    -> col-md-*  
    * 480-760px     -> col-sm-*  
    * 0-480px       -> col-*  
*/
.col-1 {
    flex: 0 0 calc(100% / 12 * 1);
}
.col-2 {
    flex: 0 0 calc(100% / 12 * 2);
}
.col-3 {
    flex: 0 0 calc(100% / 12 * 3);
}
.col-4 {
    flex: 0 0 calc(100% / 12 * 4);
}
.col-5 {
    flex: 0 0 calc(100% / 12 * 5);
}
.col-6 {
    flex: 0 0 calc(100% / 12 * 6);
}
.col-7 {
    flex: 0 0 calc(100% / 12 * 7);
}
.col-8 {
    flex: 0 0 calc(100% / 12 * 8);
}
.col-9 {
    flex: 0 0 calc(100% / 12 * 9);
}
.col-10 {
    flex: 0 0 calc(100% / 12 * 10);
}
.col-11 {
    flex: 0 0 calc(100% / 12 * 11);
}
.col-12 {
    flex: 0 0 calc(100% / 12 * 12);
}
@media(min-width:480px){
    .col-sm-1 {
        flex: 0 0 calc(100% / 12 * 1);
    }
    .col-sm-2 {
        flex: 0 0 calc(100% / 12 * 2);
    }
    .col-sm-3 {
        flex: 0 0 calc(100% / 12 * 3);
    }
    .col-sm-4 {
        flex: 0 0 calc(100% / 12 * 4);
    }
    .col-sm-5 {
        flex: 0 0 calc(100% / 12 * 5);
    }
    .col-sm-6 {
        flex: 0 0 calc(100% / 12 * 6);
    }
    .col-sm-7 {
        flex: 0 0 calc(100% / 12 * 7);
    }
    .col-sm-8 {
        flex: 0 0 calc(100% / 12 * 8);
    }
    .col-sm-9 {
        flex: 0 0 calc(100% / 12 * 9);
    }
    .col-sm-10 {
        flex: 0 0 calc(100% / 12 * 10);
    }
    .col-sm-11 {
        flex: 0 0 calc(100% / 12 * 11);
    }
    .col-sm-12 {
        flex: 0 0 calc(100% / 12 * 12);
    }
}
@media(min-width:760px){
    .col-md-1 {
        flex: 0 0 calc(100% / 12 * 1);
    }
    .col-md-2 {
        flex: 0 0 calc(100% / 12 * 2);
    }
    .col-md-3 {
        flex: 0 0 calc(100% / 12 * 3);
    }
    .col-md-4 {
        flex: 0 0 calc(100% / 12 * 4);
    }
    .col-md-5 {
        flex: 0 0 calc(100% / 12 * 5);
    }
    .col-md-6 {
        flex: 0 0 calc(100% / 12 * 6);
    }
    .col-md-7 {
        flex: 0 0 calc(100% / 12 * 7);
    }
    .col-md-8 {
        flex: 0 0 calc(100% / 12 * 8);
    }
    .col-md-9 {
        flex: 0 0 calc(100% / 12 * 9);
    }
    .col-md-10 {
        flex: 0 0 calc(100% / 12 * 10);
    }
    .col-md-11 {
        flex: 0 0 calc(100% / 12 * 11);
    }
    .col-md-12 {
        flex: 0 0 calc(100% / 12 * 12);
    }
}
@media(min-width:1024px){
    .col-lg-1 {
        flex: 0 0 calc(100% / 12 * 1);
    }
    .col-lg-2 {
        flex: 0 0 calc(100% / 12 * 2);
    }
    .col-lg-3 {
        flex: 0 0 calc(100% / 12 * 3);
    }
    .col-lg-4 {
        flex: 0 0 calc(100% / 12 * 4);
    }
    .col-lg-5 {
        flex: 0 0 calc(100% / 12 * 5);
    }
    .col-lg-6 {
        flex: 0 0 calc(100% / 12 * 6);
    }
    .col-lg-7 {
        flex: 0 0 calc(100% / 12 * 7);
    }
    .col-lg-8 {
        flex: 0 0 calc(100% / 12 * 8);
    }
    .col-lg-9 {
        flex: 0 0 calc(100% / 12 * 9);
    }
    .col-lg-10 {
        flex: 0 0 calc(100% / 12 * 10);
    }
    .col-lg-11 {
        flex: 0 0 calc(100% / 12 * 11);
    }
    .col-lg-12 {
        flex: 0 0 calc(100% / 12 * 12);
    }
}
@media(min-width:1200px){
    .col-xl-1 {
        flex: 0 0 calc(100% / 12 * 1);
    }
    .col-xl-2 {
        flex: 0 0 calc(100% / 12 * 2);
    }
    .col-xl-3 {
        flex: 0 0 calc(100% / 12 * 3);
    }
    .col-xl-4 {
        flex: 0 0 calc(100% / 12 * 4);
    }
    .col-xl-5 {
        flex: 0 0 calc(100% / 12 * 5);
    }
    .col-xl-6 {
        flex: 0 0 calc(100% / 12 * 6);
    }
    .col-xl-7 {
        flex: 0 0 calc(100% / 12 * 7);
    }
    .col-xl-8 {
        flex: 0 0 calc(100% / 12 * 8);
    }
    .col-xl-9 {
        flex: 0 0 calc(100% / 12 * 9);
    }
    .col-xl-10 {
        flex: 0 0 calc(100% / 12 * 10);
    }
    .col-xl-11 {
        flex: 0 0 calc(100% / 12 * 11);
    }
    .col-xl-12 {
        flex: 0 0 calc(100% / 12 * 12);
    }
}
[class^="col"]{
    padding-left: 15px;
    padding-right: 15px;
}
/* ? [class^="col"] 開頭是col */
/* ? [class*="col"] 包含col*/
/* ? [class$="col"] 結尾是col*/
/* *BUTTON */
.btn {
    display: inline-block;
    text-decoration: none;
    background-color: #ffe139;
    color: #222;
    padding: 10px 20px;
    border-radius: 5px;
    transition: .3s;
}
/* ? 虛擬類別 */
.btn:hover {
    background-color: #ff4665;
    color: #fff;
}
/* *SECTION-TITLE */
.section-title {
    text-align: center;
    margin-bottom: 50px;
}
.section-title h2 {
    font-size: 32px;
}
/* * NAV */
nav {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;

    /* height: 60px; */
    background-color: #222;
    text-align: center;

    position: fixed;
    z-index: 9999;
}
/* !後代選取器 */
nav a {
    color: #eee;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 5px;
    transition: .3s;
}
nav a:hover {
    background-color: #fff16f;
    color: #222;
}
/* *HEADER */
header {
    background: url('images/banner.jpg')no-repeat fixed center / cover;
    /* padding-top: 300px; */
    /* padding-bottom: 300px; */
    /* height: 100%; */
}
/* html,body {
    height: 100%;
} */
header .row {
    /* height: 800px; */
    height: 100vh;
    /* height: 100%; */
    align-items: center;
}
header .content {
    text-align: center;
    color: #fff;
}
header h1 {
    font-size: 100px;
    font-weight: 900;
}
header p {
    padding: 0 100px;
    margin-bottom: 30px;
}
/* * ABOUT */
#about {
    padding-top: 150px;
    padding-bottom: 150px;

    background-color: #fcfa95;
}
#about h3 {
    font-size: 24px;
}
#about p {
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 1.5;
}
/* * NEWS */
#news {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #d6efc7;

    clip-path: polygon(0 0,50% 8vw,100% 0,100% calc(100% - 8vw),50% 100%, 0 calc(100% - 8vw));
    /* clip-path: polygon(0 10vw,100% 0,100% calc(100% - 10vw), 0 100%); */
    /* 
        * vw --> view width
    */

    margin-bottom: -8vw;
    margin-top: -8vw;
}
#news .top {
    margin-bottom: 30px;
}
.effect {
    position: relative;
}
.effect h3 {
    font-size: 26px;
}
.effect .content {
    position: absolute;
    width: calc(100% - 30px);
    height: 100%;
    background-color: rgba(0, 0, 0, 0.657);
    top: 0;
    left: 15px;
    color: #fff;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: .5s;
}
.effect:hover .content{
    opacity: 1;
}
/* * PRODUCTS */
#products {
    /* padding-top: calc(150px + 8vw); */
    padding-top: 200px;
    padding-bottom: 150px;
    background-color: #fcfa95;
}
/* * FOOTER */
footer {
    background-color: #222;
    color: #fff;
    padding-top: 150px;
    padding-bottom: 150px;
}
footer a {
    color: #c0c0c0;
    text-decoration: none;
    transition: .3s;
}
footer a:hover {
    color: #fff;
    text-decoration: underline;
}
footer li {
    list-style: none;
}

.fade-in-up {
    opacity: 0;
    animation: fade-in-up .8s forwards;
}
.delay-1 {
    animation-delay: .3s;
}
.delay-2 {
    animation-delay: .6s;
}
.delay-3 {
    animation-delay: .9s;
}
.delay-4 {
    animation-delay: 1.2s;
}
@keyframes fade-in-up {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
    }
}
@keyframes fade-in-left {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
    }
}