<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="app">
        <h1>{{title}}</h1>
        <div>{{drinks}}</div>
        <ul>
            <li v-for="(drink,idx) in drinks">{{drink}}..{{idx}}</li>
        </ul>
        <ul>
            <li v-for="(drink,idx) of drinks">{{drink}}..{{idx}}</li>
        </ul>
    </div>
    <script>
        const app = Vue.createApp({
            data(){
                return {
                    title: 'HELLO VUE !',
                    drinks: ['紅茶','綠茶','QQ咩噗茶','冰淇淋紅茶']
                }
            }
        });

        app.mount('#app');

        const app2 = Vue.createApp({
            data(){
                return {
                    title: '123456789'
                }
            }
        })
        app2.mount('#app2');
    </script>
</body>
</html>